[submodule "src/middleclass"]
	path = src/middleclass
	url = https://github.com/kikito/middleclass.git
[submodule "src/clipper"]
	path = src/clipper
	url = https://github.com/TannerRogalsky/lua-poly2tri.git
